* {
	font-family: verdana;
}

ul {
	list-style: none;
}

header {
	height: 120px;
	background-color: #F3F3F3;
	padding-top: 20px;
	margin-bottom: 65px;
}

h1 {
	font-weight: bolder;
	font-size: 3.75em;
}

button {
	margin-bottom: 6px;
}

.allQuestions {
	border-radius: 7px;
	background-color: #F3F3F3;
	padding-top: 25px;
	padding-bottom: 25px;
	display: none;
}

.currentQuestion {
	background-color: #8E8B82;
	border-radius: 7px;

	padding: 15px;
	margin-top: 5px;
	margin-bottom: 30px;
	margin-right: 25px;
	height: 250px;
}

.allAnswers {
	background-color: #E9DCBE;
	border-radius: 7px;
	
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 25px;

	display: none;
}

#timerDisplay {
	font-size: 6.1em;
	font-weight: bolder;
	vertical-align: center;
}




